@using PagedList.Mvc
@using TK.Business.Data
@{
    ViewBag.Title = "Tin tức đó đây";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-8">
        <div style="border: 2px solid #a1a1a1;padding: 10px 40px;border-radius: 10px;">
            @{
                var listnews = (PagedList.PagedList<TblNewsDraff>)ViewBag.News;
                foreach (var item in listnews)
                {
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="@Url.Action("NewsDetail","Home", new { @id=item.NewsId.ToString(), @metatitle=HttpUtility.UrlDecode(item.Metatitle)})">
                                        <div class="col-lg-5"><img src="@item.BigImage" style="height:180px;width:100%" /></div>
                                        <div class="col-lg-7">
                                            <h3>@item.Title</h3>
                                            <h6><span style="color:darkslategrey">@Convert.ToDateTime(item.CreateDate).ToString("dd/MM/yyyy")</span></h6>
                                            <span style="color:darkslategrey;">@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.ShortContent))</span>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
            @Html.PagedListPager(listnews, Page => Url.Action("NewsList", new { Page }))
        </div>
    </div>
</div>
<br />

