@model TK.Business.Model.ChangePassword
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    
<div class="col-lg-8">
    <a href="@Url.Action("Index","Admin")">quản trị hệ thông</a>&nbsp;&nbsp;&nbsp;&nbsp;<strong>></strong>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">đổi mật khẩu</span>
    <br /><br />
    <div class="panel panel-primary">
        <div class="panel-heading"><h4>ĐỔI MẬT KHẨU</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <br /><br />
                <table class="table">
                    <tr>
                        <th>mật khẩu cũ</th>
                        <td>
                            <div class="col-xs-12">
                                @Html.TextBoxFor(model => model.password, new { @type = "password", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>mật khẩu mới</th>
                        <td>
                            <div class="col-xs-12">
                                @Html.TextBoxFor(model => model.newpassword, new { @type = "password", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.newpassword, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>nhập lại mật khẩu mới</th>
                        <td>
                            <div class="col-xs-12">
                                @Html.TextBoxFor(model => model.repassword, new { @type = "password", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.repassword, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                </table>

                <br />
                <input type="submit" value="cập nhật" class="btn btn-info" />

            }
        </div>
    </div>
   
    <br />
</div>
        </div>
    
&nbsp;

