@model TK.Business.Model.ChangePassword
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{ 
@Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4><a href="@Url.Action("Index","Admin")">trang chủ</a>  <strong>>></strong> <span style="color:red;">đổi mật khẩu</span></h4>
<table class="table table-bordered">
    <tr class="info">
        <th>mật khẩu cũ</th>
        <td>@Html.TextBoxFor(model => model.password, new { @type = "password" })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr class="info">
        <th>mật khẩu mới</th>
        <td>
            @Html.TextBoxFor(model => model.newpassword, new { @type = "password" })
            @Html.ValidationMessageFor(model => model.newpassword, "", new { @class = "text-danger" })
    </td>
</tr>
    <tr class="info">
        <th>nhập lại mật khẩu mới</th>
        <td>@Html.TextBoxFor(model => model.repassword, new {@type="password" })
            @Html.ValidationMessageFor(model => model.repassword, "", new { @class = "text-danger" })
        </td>
    </tr>
</table>
<br />
<input type="submit" value="cập nhật" class="btn btn-default"/>
<br />
}
&nbsp;

