@model TK.Business.Data.TblChart
@{
    ViewBag.Title = "quản lý slide ảnh";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <a href="@Url.Action("Index","Admin")">quản trị hệ thống</a>&nbsp;&nbsp;&nbsp;&nbsp;<strong>></strong>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">cập nhật slide ảnh</span>
    <br />&nbsp;
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>cập nhật slide ảnh</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <table class="table">
                    <tr>
                        <th>ảnh 1</th>
                        <td><div class="col-lg-4"> @Html.TextBoxFor(model => model.src1, new { @class = "form-control", @id = "txtImage", @required = "required" })</div><button class="btn btn-success" id="btnselect">chọn ảnh</button></td>
                    </tr>
                    <tr>
                        <th>ảnh 2</th>
                        <td><div class="col-lg-4">@Html.TextBoxFor(model => model.src2, new { @class = "form-control", @id = "txtImage1", @required = "required" })</div><button class="btn btn-success" id="btnselect1">chọn ảnh</button></td>
                    </tr>
                    <tr>
                        <th>ảnh 3</th>
                        <td><div class="col-lg-4">@Html.TextBoxFor(model => model.src3, new { @class = "form-control", @id = "txtImage2", @required = "required" })</div><button class="btn btn-success" id="btnselect2">chọn ảnh</button></td>
                    </tr>
                    <tr>
                        <th>ảnh 4</th>
                        <td><div class="col-lg-4">@Html.TextBoxFor(model => model.src4, new { @class = "form-control", @id = "txtImage3", @required = "required" })</div><button class="btn btn-success" id="btnselect3">chọn ảnh</button></td>
                    </tr>
                    <tr>
                        <th>ảnh 5</th>
                        <td><div class="col-lg-4">@Html.TextBoxFor(model => model.src5, new { @class = "form-control", @id = "txtImage4", @required = "required" })</div><button class="btn btn-success" id="btnselect4">chọn ảnh</button></td>
                    </tr>
                </table>
                <input type="submit" value="cập nhật" class="btn btn-info" />
            }
        </div>
    </div>
    <a href="@Url.Action("Index","Admin")">quản trị hệ thống</a>&nbsp;&nbsp;&nbsp;&nbsp;<strong>></strong>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">cập nhật slide ảnh</span>
    <br />&nbsp;
</div>
<script>
    $(document).ready(function () {
        $("#txtImage").click(function () {
            alert("bạn vừa nhấp vào đường dẫn của ảnh, điểu này có thể gây lỗi hệ thống, hãy chọn nút chọn ảnh để upload ảnh lên server");
        });
    });
    $(document).ready(function () {
        $("#txtImage1").click(function () {
            alert("bạn vừa nhấp vào đường dẫn của ảnh, điểu này có thể gây lỗi hệ thống, hãy chọn nút chọn ảnh để upload ảnh lên server");
        });
    });
    $(document).ready(function () {
        $("#txtImage2").click(function () {
            alert("bạn vừa nhấp vào đường dẫn của ảnh, điểu này có thể gây lỗi hệ thống, hãy chọn nút chọn ảnh để upload ảnh lên server");
        });
    });
    $(document).ready(function () {
        $("#txtImage3").click(function () {
            alert("bạn vừa nhấp vào đường dẫn của ảnh, điểu này có thể gây lỗi hệ thống, hãy chọn nút chọn ảnh để upload ảnh lên server");
        });
    });
    $(document).ready(function () {
        $("#txtImage4").click(function () {
            alert("bạn vừa nhấp vào đường dẫn của ảnh, điểu này có thể gây lỗi hệ thống, hãy chọn nút chọn ảnh để upload ảnh lên server");
        });
    });
</script>
