@using TK.Business.Model
@using TK.Business.Data
@model TblNewsDraffModel
@{
    TblFile file = (TblFile)ViewBag.FileAttach;
    ViewBag.Title = "cập nhật tin tức";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ var newsid = Model.id;}
<div class="container">
    <a href="@Url.Action("Index","Admin")">quản trị hệ thống</a>&nbsp;&nbsp;&nbsp;&nbsp;<strong>></strong>&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("TblNewsDraffListIndex","Admin")">danh sách tin tức</a>&nbsp;&nbsp;&nbsp;&nbsp;<strong>></strong>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">cập nhật tin tức</span>
    <br /><br /><br />
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">chỉnh sửa</a></li>
        <li><a data-toggle="tab" href="#menu1">nội dung</a></li>
    </ul>
    <div class="tab-content">
        <br />

        <div id="menu1" class="tab-pane fade">
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h6><span style="color:darkslategrey">@Convert.ToDateTime(Model.createdate).ToString("dd/MM/yyyy")</span></h6>
                            <h3>@Model.title</h3><br />
                            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.content))
                            @{
                            if (file == null)
                                {
                                    <div></div>
                                }
                                else
                                {
                                    <p><strong>Tệp đính kèm:</strong></p>
                            <a href="@HttpUtility.UrlDecode(Url.Action("DownloadFile", "Home", new { @filepath = file.Directory, @filename = file.Name }))">@file.Name</a><p></p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--update nội dung tin tức-->
        <div id="home" class="tab-pane fade in active">
            <br />
            <div class="panel panel-primary" ng-app="myApp" ng-controller="myCtrl">
                <div class="panel-heading"><h4>cập nhật tin tức</h4></div>
                <div class="panel-body">
                    @using (Html.BeginForm())
            {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.id)
                        <table class="table">
                            <tr>
                                <th>tiêu đề</th>
                                <td>
                                    <div class="col-xs-4">
                                        @Html.TextBoxFor(model => model.title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>nội dung sơ lược</th>
                                <td>
                                    @Html.TextAreaFor(model => model.shortcontent, new { htmlAttributes = new { @class = "form-control", @value = Model.shortcontent }, @id = "txtDescript1" })
                                    @Html.ValidationMessageFor(model => model.shortcontent, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <th>nội dung chính</th>
                                <td>
                                    @Html.TextAreaFor(model => model.content, new { htmlAttributes = new { @class = "form-control", @value = Model.content }, @id = "txtDescript2" })
                                    @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <th>ảnh</th>
                                <td>
                                    <div class="col-xs-5">
                                        @Html.TextBoxFor(model => model.image, new { @class = "form-control", @id = "txtImage" })

                                        @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                                    </div><button id="btnselect" class="btn btn-success">chọn ảnh</button><br />
                                </td>
                            </tr>
                            @if (Model.groupnewsid == 14)
                            {
                                <tr>
                                    <th>phát hành</th>
                                    <td><label style="padding-left:20px;">@Html.CheckBoxFor(model => model.isweek)</label></td>
                                </tr>
                                <tr>
                                    <th>tệp đính kèm</th>
                                    <td>
                                        <div class="col-lg-3">
                                            <p ng-model="selectoption"></p>
                                            <select name="fileattach" class="form-control" ng-model="defaultvalue">
                                                <option value="" selected>---chọn---</option>
                                                <option ng-selected="@newsid==defaultvalue" ng-repeat="p in listfile">{{p.Name}}</option>
                                                <option value="deletefile">---xóa file---</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>phát hành</th>
                                    <td><label style="padding-left:20px;">@Html.CheckBoxFor(model => model.isweek, new { @disabled = "disabled" })</label></td>
                                </tr>
                                <tr>
                                    <th>tệp đính kèm</th>
                                    <td>
                                        <div class="col-lg-3">
                                            <select name="fileattach" class="form-control" ng-model="defaultvalue" disabled>
                                               <option value="" selected>---chọn---</option>
                                               <option ng-repeat="p in listfile">{{p.Name}}</option>
                                               <option value="deletefile">---xóa file---</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                        <input type="submit" value="cập nhật" class="btn btn-info" />
                        <br />
                       }
                </div>
            </div>
        </div>&nbsp;
        <!--/update nội dung tin tức-->
    </div>
    <a href="@Url.Action("Index","Admin")">quản trị hệ thống</a>&nbsp;&nbsp;&nbsp;&nbsp;<strong>></strong>&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("TblNewsDraffListIndex","Admin")">danh sách tin tức</a>&nbsp;&nbsp;&nbsp;&nbsp;<strong>></strong>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">cập nhật tin tức</span>
<br />&nbsp;
</div>
<script>
    var app = angular.module("myApp", ['ngSanitize']);
    app.controller("myCtrl", function ($scope, $http, $window) {
        $http({
            method: "POST",
            url: "/Admin/TblListFile"
        }).then(function (re) {
            $scope.listfile = re.data;
        });
    });
    var editor3 = CKEDITOR.replace('txtComment', {
            extraPlugins: 'youtube',
            uiColor: '#14B8C4',
            language: 'vi',
            ProcessHTMLEntities: false,
            enterMode: CKEDITOR.ENTER_BR,
            width: '100%',
            skin: 'office2013',
            toolbar: [
            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline'] },
            { name: 'links', items: ['Link', 'Unlink'] },
            { name: 'insert', items: ['Image', 'Smiley'] },
            { name: 'paragraph', items: ['Blockquote'] }
            ],
            smiley_path: CKEDITOR.basePath + 'plugins/smiley/images/msn/',
            smiley_images: ['adore.gif', 'after_boom.gif', 'ah.gif', 'amazed.gif', 'angry.gif', 'bad_smelly.gif', 'baffle.gif', 'band.gif', 'bang.gif', 'beat_brick.gif', 'beat_plaster.gif', 'beat_shot.gif', 'beauty.gif', 'big_smile.gif', 'boss.gif', 'brick.png', 'burn_joss_stick.gif', 'bye.gif', 'byebye.gif', 'canny.gif', 'capture.gif', 'cheers.gif', 'choler.gif', 'confident.gif', 'confuse.gif', 'cry.gif', 'doubt.gif', 'dribble.gif', 'embarrassed.gif', 'feel_good.gif', 'fix.gif', 'flame.gif', 'go.gif', 'haha.gif', 'hang.gif', 'hehe.gif', 'hell_boy.gif', 'hug.gif', 'hungry.gif', 'lay.gif', 'lmao.gif', 'lol.gif', 'look_down.gif', 'lovemachine.gif', 'loveyou.gif', 'matrix.gif', 'misdoubt.gif', 'nosebleed.gif', 'oh.gif', 'ops.gif', 'phone.gif', 'pudency.gif', 'puke.gif', 'rap.gif', 'rofl.gif', 'sad.gif', 'sexy_girl.gif', 'shame.gif', 'shit.gif', 'sleep.gif', 'smile.gif', 'smoke.gif', 'spam.gif', 'still_dreaming.gif', 'sure.gif', 'surrender.gif', 'sweat.gif', 'sweet_kiss.gif', 'theft.gif', 'tire.gif', 'too_sad.gif', 'waaaht.gif', 'what.gif', 'winner.gif','happens.png'],
        smiley_descriptions:[':adore:',':boom:',':ah:',':amazed:',':angry:',':badsmelly:']
    });
</script>



